export PKG_CONFIG_PATH=/home/attilio.greco/Develop/4sigma/openfaas/faas-image-converter/vips/lib/pkgconfig/
export LD_LIBRARY_PATH=/home/attilio.greco/Develop/4sigma/openfaas/faas-image-converter/vips/lib